/* (@)whitenight.tw by truesun */
@import reset
@import mixins
@import color
//全域樣式
html, body
    color: #555
    font-size: 14px
    +fontSty
input,textarea,select
    +fontSty
    -webkit-appearance: none
    border-radius: 0
input[type="radio"],input[type="checkbox"]
    width: 1px
    height: 1px
    opacity: 0
input[type="radio"]:checked + .radio-box::after
    content: ""
    width: 11px
    height: 11px
    border-radius: 30px
    display: block
    background: $btn

input[type="checkbox"]:checked + .check-box::after
    content: "\f00c"
    font-family: "Font Awesome 5 Pro"
    color: $btn
    font-weight: 900
    font-size: 14px
    margin: 0 0 0 2px
    display: block
    font-style: normal
    font-variant: normal
    text-rendering: auto
    line-height: 1
    transform: translate(0, 0)

.clearfix::after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
.clearfix
    display: inline-block
html[xmlns] .clearfix
    display: block
* html .clearfix
    height: 1%

//lightbox 基礎組件
.mask
    width: 100%
    height: 100%
    background: rgba(0,0,0,.7)
    +topLeft(0,0,99)
.lg-box
    box-shadow: 0 0 50px #111
    border-radius: 5px
    position: absolute
    top: 15%
    left: 50%
    z-index: 100
.lg-tit
    color: $white
    font-size: 16px
    letter-spacing: 1px
    background: $main-color
    padding: 10px 8px
    border-bottom: 2px solid #11577d
.lg-cont
    background: $white
    padding: 15px
    overflow: auto
    h2
        font-size: 18px
        color: $h2-color
        padding: 20px 0 10px 0
        text-shadow: 0 1px 0 $white
    h3
        font-size: 16px
        color: $h2-color
        padding: 10px 0
        text-shadow: 0 1px 0 $white
    .input-box-w
        width: 100%
        margin: 0 0 20px

.lg-bot
    text-align: center
    background: #e5e5e5
    padding: 8px
    border-top: 1px solid #ccc
    .btn
        margin: 0 5px
        position: relative
        input
            display: block
            width: 100%
            position: absolute
            margin: 0
            border: none
            top: 0
            left: 0
            right: 0
            bottom: 0
            opacity: 0
            direction: ltr
            cursor: pointer
            z-index: 2
	

//純訊息
//視使用需求增加.lg-mesg-box的寬度，或另外新增class name
.lg-mesg-box
    width: 400px
    margin: 0 0 0 -200px
.lg-big-box
    width: 800px
    margin: 0 0 0 -400px
//此為配合.lg-big-box新增的class name 固定最大高度後，超出最大高度給予捲軸使用
.lg-add
    max-height: 300px
    overflow: y-scroll

//表單樣式
.input-sty
    color: $input-txt
    font-size: 14px
    width: 100%
    background: #eee
    padding: 10px 10px
    border: 1px solid #d0d0d0
    border-radius: 2px
    box-sizing: border-box
    display: inline-block
    outline : 0
    transition: background .4s,box-shadow .4s
    vertical-align: middle
    &:focus
        background: $white
        box-shadow: 0 0 3px #ccc
    &::placeholder
        color: #bbb

.select-sty
    color: $input-txt
    font-size: 14px
    width: 100%
    height: 42px
    background: #eee
    padding: 0 0 0 10px
    background: #eee url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%
    border: 1px solid #d0d0d0
    border-radius: 2px
    display: inline-block
    outline : 0
    transition: background .4s,box-shadow .4s
    vertical-align: middle
    &:focus
        background: $white url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%
        box-shadow: 0 0 3px #ccc

.radio-box
    width: 19px
    height: 19px
    padding: 2px
    border: 2px solid $btn
    border-radius: 30px
    box-sizing: border-box
    display: inline-block
    vertical-align: middle
    margin: 0 3px 0 0
.check-box
    width: 19px
    height: 19px
    border: 2px solid $btn
    box-sizing: border-box
    display: inline-block
    vertical-align: middle
    margin: 0 3px 0 0

//共用樣式
.txt-c
    text-align: center
.txt-r
    text-align: right
.imp
    color: $fn-bg
.cle
    clear: both
.error
    border: 1px solid #d2664f
.note
    padding: 0 5px 10px 0
    color: #999
.icon-right
    position: relative
    .input-sty
        padding: 10px 35px 10px 10px
    i
        font-size: 20px
        position: absolute
        right: 10px
        top: 47px
        z-index: 1
    .note
        padding: 5px 0 0 0

//複選框組件
.check-list
    margin: 0
    label
        padding: 6px 10px 6px 3px
        cursor: pointer
        border-radius: 3px
        margin: 0 10px 0 0
        transition: .2s
        &:hover
            background: #eee
        a
            color: $btn
            vertical-align: middle
        a i
            font-size: 16px
    label.error
        color: $white
        border-radius: 2px
        background: #d2664f
        line-height: 16px
        margin: 0
        display: inline-block
    span
        vertical-align: middle


/*Login page*/
//首頁登入頁
.login-page-mask
    width: 100%
    height: 100%
    position: absolute
    background: url(../img/backend_img/pic_mask.png)
.login-page-bg
    width: 100%
    height: 100%
    background: #000 url(../img/backend_img/login_bg_default.jpg) no-repeat center 0/cover
.loain-box
    width: 500px
    margin: 0 0 0 -250px
    position: absolute
    top: 100px
    left: 50%
.logo
    +wh(160,90)
    background: url(../img/backend_img/backend_logo.png) no-repeat center center/cover
    +topLeft(-50,170,1)
.login
    width: 500px
    text-align: center
    padding: 20px 30px
    box-sizing: border-box
    border-radius: 5px
    background-color: rgba(0, 0, 0, 0.6)
    h1
        margin: 35px 15px 0
        color: $white
        font-size: 16px
    .input-box
        width: 100%
        margin: 20px auto
        position: relative
        display: block
        i
            font-size: 22px
            color: #106696
            position: absolute
            top: 9px
            right: 15px
            z-index: 1
    label
        padding: 8px 12px
        border: none
        display: block
        position: absolute
        top: 3px
        right: 7px
        border: 1px solid #d2664f
        background: #d2664f
        border-radius: 3px 
        input[class~=input-sty]
            font-size: 18px
            padding: 10px 10px 10px 45px
            z-index: 2
    label.error
        color: $white
        margin: 1px 0 0

.login-error-mesg
    color: #f00
    padding: 0 25px
.login-footer
    color: $white
    text-align: center
.login-btn-box
    text-align: center
    margin: 20px auto
.login-submit-btn
    font-size: 18px
    color: $btn-text
    text-shadow: 0 1px 1px #000
    background: darken($btn,5%) 
    width: 100%
    box-shadow: 0 0 3px #90D0F2 inset,0 0 5px rgba(0,0,0,1)
    padding: 12px 0
    border: 0
    border-radius: 5px
    cursor: pointer
    outline: none
    transition: background .2s
    &:hover
        background: darken($btn,10%)

//右邊欄、主內容 Layout
body
    width: 100%
    min-width: 1300px
    height: 100%
    overflow: hidden
    background: url(../img/backend_img/body_bg.png)
.main
    height: 100%
    padding: 0 20px 0 30px
    overflow: auto
    background: $white url(../img/backend_img/main_bg.png)
    h1
        font-size: 24px
        color: $h1-color
        padding: 15px 0 20px 0
        background: url(../img/backend_img/title_line.png) 0 53px repeat-x
    h2
        font-size: 18px
        line-height: 2
        color: $h2-color
        padding: 20px 0 10px 0
        text-shadow: 0 1px 0 $white
    h3
        font-size: 16px
        color: $h2-color
        padding: 10px 0
        text-shadow: 0 1px 0 $white


//導航列側邊欄
.side-nav
    width: 180px
    height: 100%
    float: left
    overflow: hidden
    position: relative
.side-box
    width: 180px
    height: 100%
.btn-side-close
    color: $white
    font-size: 20px
    width: 26px
    height: 28px
    box-sizing: border-box
    padding: 0 0 0 9px
    background: #222
    cursor: pointer
    position: absolute
    top: 0
    left: 180px
    z-index: 1
    &:hover p
        height: 78px
    p
        color: $white
        font-size: 13px
        text-align: center
        letter-spacing: 1px
        width: 100%
        height: 0
        overflow: hidden
        background: #222
        position: absolute
        top: 28px
        left: 0
        transition: .3s


.btn-side-open
    color: $white
    font-size: 20px
    width: 26px
    height: 28px
    box-sizing: border-box
    padding: 0 0 0 9px
    background: $main-color
    cursor: pointer
    position: absolute
    top: 0
    left: -40px
    z-index: 2
    &:hover p
        height: 78px
    p
        color: $white
        font-size: 13px
        text-align: center
        letter-spacing: 1px
        width: 100%
        height: 0
        overflow: hidden
        background: $main-color
        position: absolute
        top: 28px
        left: 0
        transition: .3s
        
.side-logo
    +wh(160,90)
    margin: 10px auto
    background: url(../img/backend_img/backend_logo.png) no-repeat center/cover
.side-footer
    font-size: 12px
    text-align: center
    color: #555
    width: 180px
    line-height: 45px
    box-sizing: border-box
    position: absolute
    bottom: 0
    left: 0
    z-index: 2
.backend-tit
    text-align: right
    color: #999
    font-size: 12px
    padding: 5px
.user-info
    text-align: right
    color: #eee
    text-shadow: 0 1px 1px #000
    line-height: 25px
    margin: 0 0 10px
.user-id
    padding: 10px 10px 5px 10px
    border-bottom: 1px solid #000
.change-pwd-box
    display: inline-block
.change-pwd
    color: #999
    padding: 3px 5px
    border-radius: 3px
    box-shadow: 0 1px 0 #414141
    background: #000
    transition: .2s
    &:hover
        background: #000
        color: #ccc
.sign-out-box
    padding: 10px
    border-top: 1px solid #333
.sign-out
    color: #999
    box-shadow: 0 1px 0 #414141
    padding: 5px 8px
    border-radius: 3px
    background: #0d0d0d
    transition: .2s
    &:hover
        background: #000
        color: #ccc

.nav-box
    max-height: calc(100vh - 300px)
    overflow-y: auto

.nav
    padding: 0
    a
        font-size: 14px
        color: #999
        padding: 12px 10px 11px 10px
        margin: 0
        display: block
        //border-radius: 2px
        transition: background .2s
        &:hover
            color: $white
            background: #333
        &.act
            color: $white
            background: #444
            text-shadow: 0 0 12px #39B7FC
            //border-top: 1px solid #777
            //box-shadow: 0 0 7px 1px #000
    i
        width: 15px
        margin: 0 3px 0 0
        text-align: center

//次選單樣式
.sub-menu
    margin: -10px 0 20px 0
    background: #222627
    padding: 10px
    overflow: hidden
    li
        float: left
        margin: 0 10px 0 0
    a
        color: $white
        text-shadow: 0 1px 1px #000
        padding: 5px 12px
        display: block
        transition: .2s
        border-radius: 2px
        box-shadow: 0 2px 2px #000
    a.act,a:hover
        color: $white
        background: darken($main-color,10%)

.sub-page
    height: 31px
    margin: 10px 0 20px 0
    border-bottom: 1px solid $main-color
    li
        height: 30px
        line-height: 30px
        padding: 0 14px
        display: block
        border-radius: 5px 5px 0 0
        transition: .2s
        float: left
        margin: 0 0 0 10px
        cursor: pointer
        &:hover
            background: #eee
    li.act
        color: $main-color
        border: 1px solid $main-color
        border-bottom: 1px solid #F9F9F9
        &:hover
            background: #F9F9F9

.x-scroll-box
    //overflow-x: scroll

.res-nav
    white-space: nowrap
    overflow-x: scroll
    padding: 0 0 10px
    height: 32px
    position: relative
    border: none
    li
        display: inline-block
        float: none
        //box-sizing: border-box
        position: relative
        z-index: 2
    &:after
        content: ''
        display: block
        height: 1px
        width: 100%
        background: $main-color
        position: absolute
        bottom: 10px
        left: 0
        z-index: 1

//麵包削
.breadcrumb
    margin: 10px 0
    background-color: #ECECEC
    border-radius: 4px
    li
        display: inline-block
    a
        color: #337ab7
        text-decoration: none
        padding: 8px 10px
        display: inline-block
        transition: .2s
        &:hover
            background: #ddd
    span
        padding: 8px 10px
    a.active
        color: #777
    &:focus
        background: $white
        box-shadow: 0 0 3px #ccc

.breadcrumb > li + li:before
    padding: 0 0
    color: #ccc
    content: "/\00a0"
//組件基礎
.input-box
    width: 44%
    margin: 0 5% 20px 0
    display: inline-block
    vertical-align: top
    p
        font-size: 15px
    label
        font-size: 16px
        color: $main-color
        font-weight: bold
        margin: 5px 5px 10px 0
        display: block
    .check-list label //為了改掉.check-list的label吃到上面的樣式，所以要覆寫
        font-weight: normal
        margin: 0
        +dv
    label.error
        color: $white
        font-weight: normal
        padding: 5px 8px
        border-radius: 2px
        background: #d2664f
        display: inline-block
    span
        font-size: 16px
        color: #555
        vertical-align: middle
    .red-txt
        color: #d14d4d
    // .note
    //     padding: 5px 0 0 0
    label + .note
        padding: 0 0 5px 0
    span + .note
        padding: 5px 0 0 0


//2欄式組件
.input-box-w
    width: 93.5%
.input-box-100
    width: 100%
    margin: 0 0 20px

.more-info
    height: 400px
.desc-info
    height: 500px
    .cke_contents
        height: 500px !important
.w50
    width: 50px
.w100
    width: 100px
.w150
    width: 150px
.w200
    width: 200px
.w250
    width: 250px
.w300
    width: 300px
.w500
    width: 500px

.w150.error
    margin: 0 10px 0 0
//表格
.table
    width: 80%
    border-left: 1px solid #ccc
    border-top: 1px solid #ccc
    margin: 0 0 15px 0
    display: none
    th
        background: #eee
    th,td
        text-align: center
        border-right: 1px solid #ccc
        border-bottom: 1px solid #ccc
        padding: 1%

.table-group
    font-size: 16px
    width: 95%
.table-group.t-w100
    width: 100%
/*tag style*/
.tag
    overflow: hidden
    li
        border: 1px solid #ddd
        margin: 0 8px 8px 0
        float: left
        border-radius: 3px
        cursor: pointer
        overflow: hidden
        transition: .2s
        &:hover
            border: 1px solid $btn
	

.tag-add
    font-size: 18px
    color: $white
    background: $btn
    line-height: 30px
    padding: 0 8px
    &:hover
        background: darken($btn,10%)

.tag-name
    line-height: 30px
    padding: 0 8px
    float: left
//標籤輸入的
.tag-name-input
    border: none
    border-radius: 0
    float: left
    display: block
    input.input-sty
        width: 120px
        padding: 5px 8px
        border: none

.tag-del
    font-size: 18px
    background: #ddd
    padding: 0 8px
    line-height: 30px
    float: left
    display: block
    transition: .2s
    &:hover
        background: #ccc

.tag-creat
    display: none
.tag-check
    font-size: 18px
    color: $white
    background: $main-color
    padding: 0 15px
    line-height: 30px
    float: left
    display: block
    transition: .2s
    position: relative
    &:hover
        background: darken($main-color,10%)
    input
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 1
        opacity: 0
        cursor: pointer

//標籤開啟light
.tag-lg-box
    background: $white
    box-shadow: 0 0 20px #999
    border-radius: 5px
    width: 280px
    padding: 15px
    margin: -145px 0 0 -140px
    .input-sty
        width: 96%
        font-size: 20px
    label.error
        color: $white
        border-radius: 2px
        background: #d2664f
        display: inline-block
        margin: 5px 0 0 0
    .submit-btn
        margin: 0

.tag-lg-list
    width: 680px
    margin: -350px 0 0 -270px

//按鈕送出區塊&樣式 Style
.btn-area
    font-size: 16px
    text-shadow: 0 1px 1px #000
    letter-spacing: 2px
    padding: 10px 0
    input
        display: block
        width: 100%
        position: absolute
        margin: 0
        border: none
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0
        direction: ltr
        cursor: pointer
        z-index: 2
.btn
    color: $btn-text !important
    font-size: 14px
    display: inline-block
    position: relative
    padding: 8px 12px
    margin: 0 15px 0 0
    border-radius: 2px
    border: 0
    outline: none
    -webkit-appearance: none
    transition: .2s
    cursor: pointer
.btn-submit
    background: $btn
    a
        color: #fff
    &:hover
        background: darken($btn,10%)

.btn-org
    background: #f3a32b
    &:hover
        background: darken(#f3a32b,10%)

.btn-function
    background: $fn-bg
    &:hover
        background: darken($fn-bg,10%)

.btn-cancel
    background: #999
    &:hover
        background: darken(#999,10%)
.btn-green
    background: #4ea765
    &:hover
        background: darken(#4ea765,10%)
//列表組件
.list
    width: 100%
    margin: 0 0 20px 0
    color: #555
    li.title
        font-weight: bold
        border-bottom: 1px solid #ccc
        &:hover
            background: none
	
    li
        width: 100%
        border-bottom: 1px dotted #ccc
        &:hover
            background: $white
    img
        width: 100%
        display: block
    .blue
        color: $h1-color
    .red
        color: $fn-bg
    .no-data
        text-align: center
        padding: 10px

.list-tit
    margin: 0

.title
    i
        cursor: pointer
        &:hover
            color: $main-color
    i.act
        color: $main-color


//資料列表
.data-box
    width: 700px
    border: 1px solid #ccc
    .list
        margin: 0
    li:last-child
        border: none
    .check-list label
        margin: 0
    .check-list span
        font-size: 14px

//圖像列表
.box-list
    overflow: hidden
    li
        margin: 0 8px 10px 0
        border: 2px solid #ccc
        transition: .2s
        cursor: pointer
        position: relative
        +dv
        &:hover
            border: 2px solid $main-color
        &:hover p
            background: $main-color
        &:hover .del
            display: block
	
    li.act //如果圖像列表有勾選狀態即使用.act
        border: 2px solid $main-color
        p
            background: $main-color
        .del
            display: block
    img
        display: block
    a
        width: 120px
        display: block
        // img
        //     max-width: 100%
        //     max-height: 100%
        //     width: 100%
        //     height: 100%
    p
        color: $white
        text-align: center
        width: 100%
        background: #999
        height: 25px
        line-height: 25px
        transition: .2s
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        padding: 0 5px
        box-sizing: border-box
    .img-box
        width: 120px
        height: 120px
        img
            max-width: 100%
            max-height: 100%
            width: 100%
            height: 100%
    .del i:hover
        opacity: 0.8

.del
    font-size: 20px
    color: $white
    text-align: center
    width: 30px
    height: 30px
    background: $main-color
    line-height: 29px
    position: absolute
    top: 0
    right: 0
    z-index: 1
    display: none
    cursor: pointer

//相片列表
.photo-list
    margin: 0 0 10px
    li
        width: 200px
        border: 1px solid #ccc
        padding: 5px
        background: #eee
        margin: 0 10px 10px 0
        position: relative
        +dv
        transition: .3
        &:hover
            border: 1px solid $main-color
    a
        width: 100%
        display: inline-block
        position: relative
    img
        width: 100%
        display: block
    p
        text-align: center
        padding: 5px 0 0

.del-photo
    width: 21px
    height: 21px
    background: url(../img/backend_img/pic_del.png) no-repeat
    position: absolute
    top: 10px
    right: 10px
    z-index: 1
    cursor: pointer



//搜尋組件
.search-box
    text-align: left
    background: #f2f2f2
    border: 1px solid #d0d0d0
    padding: 8px 0 0
    margin: 0 0 10px
    .btn-area
        background: #e5e5e5
        padding: 10px 0 8px 8px
        border-top: 1px solid #ccc

.search-ui-box
    margin: 0 12px 8px 8px
    +dv
    label
        +dv
    span
        +dv
    
.search-signle
    text-align: left
    background: #eee
    border: 1px solid #ddd
    padding: 8px 0 0
    margin: 0 0 10px
    .search-ui-box
        margin: 0 5px 8px 8px
    .btn-area
        padding: 0
        margin: 0 0 8px
        +dv

//輸入框組件
//Group有連結才會用這個包起來的群組
.group-box-70,.group-box-83,.group-box-85,.group-box-100
    padding: 10px 0
    +dv
    overflow: hidden
.group-box-15
    width: 15%
    +dv
.group-box-70
    width: 70%
    +dv
.group-box-83
    width: 83%
    +dv
.group-box-85
    width: 85%
    +dv
.group-box-100
    width: 100%

//一般群組
.box-5
    width: 5%
.box-6
    width: 6%
.box-8
    width: 8%
.box-10
    width: 10%
    img
        width: 50%
.box-12
    width: 12%
.box-14
    width: 14%
.box-15
    width: 15%
.box-16
    width: 16%
.box-20
    width: 20%
.box-25
    width: 25%
.box-30
    width: 30%
.box-35
    width: 35%
.box-40
    width: 40%
.box-45
    width: 45%
.box-50
    width: 50%
.box-55
    width: 55%
.box-60
    width: 60%
.box-65
    width: 65%
.box-70
    width: 70%
.box-75
    width: 75%
.box-80
    width: 80%
.box-85
    width: 85%
.box-90
    width: 90%
.box-95
    width: 95%
.box-5,.box-6,.box-8,.box-10,.box-12,.box-14,.box-15,.box-16,.box-20,.box-25,.box-30,.box-35,.box-40,.box-45,.box-50,.box-55,.box-60,.box-65,.box-70,.box-75,.box-80,.box-85,.box-90,.box-95
    word-wrap: break-word
    padding: 0 0.5%
    box-sizing: border-box
    +dv

//.pad-u-d-10 = padding up & down is 10px
.pad-u-d-10
    padding: 10px 0
.opera
    text-align: center
    i
        font-size: 15px
        color: #999
        margin: 0 8px 0 0
    i:hover,i.act
        color: $link

//upload image 上傳圖項
.upload-pic
    opacity: 0
    height: 0
    position: absolute
    top: 0
    left: 0

.upload-img-box
    +wh(150,150)
    label.error
        +topLeft(4,8,1)

.head-box
    +wh(200,200)
    label.error
        +topLeft(4,8,1)

.little-icon-box
    +wh(60,60)
    label.error
        +topLeft(4,8,1)

.upload-box-sty
    border: 1px solid #ccc
    padding: 5px
    background: #eee url(../img/backend_img/upload.png) center no-repeat
    transition: .3s
    position: relative
    &:hover
        border: 1px solid $main-color

.little-icon-box.upload-box-sty
    background-size: contain

//上傳圖片的點擊範圍
.upload-click-area
    width: 100%
    height: 100%
    cursor: pointer
    img
        width: 100%
        height: 100%
        
//上傳檔案
.upload-form-file
    width: 100%
    height: 40px
    input
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 1
        opacity: 0
        filter: alpha(opacity=0)
        -ms-filter: alpha(opacity=0)
        cursor: pointer

.form-file
    text-align: center
    font-size: 16px
    text-shadow: 0 1px 1px #111
    color: $white
    width: 200px
    height: 40px
    line-height: 40px
    background: $btn
    margin: 0 10px 0 0
    display: inline-block
    position: relative
    transition: background .2s
    &:hover
        background: darken($btn,10%)

.file-name
    color: $main-color
    margin: 10px 0
    i
        color: #d14d4d
        cursor: pointer
        transition: .2s
        &:hover
            color: darken(#d14d4d,10%)
.form-file label
    margin: 0
    line-height: 28px
    position: absolute
    top: 0
    right: -129px

.pagination
    margin: 20px auto 100px
.pagination-numbers
    display: flex
    justify-content: center
    a
        color: #666
        text-shadow: 0px 1px 0px rgba(255,255,255,0.59)
        font-size: 13px
        display: inline-block
        position: relative
        margin: 0px 5px
        width: auto
        height: auto
        background: #ececec
        padding: 6px 10px
        border: 1px solid #d8d8d8
        border-bottom: 1px solid #ccc
        border-radius: 3px
        cursor: pointer
        box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 14px 13px rgba(255,255,255,0.57)
        transition: .3s
    a:hover
        color: #888
        text-shadow: 0px 1px 0px rgba(255,255,255,0.69)
        box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20)
    a.act
        color: #696969
        text-shadow: 0px 1px 0px rgba(255,255,255,0.53)
        border: 1px solid #d2d2d2
        border-bottom: 1px solid #d8d8d8
        box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20)

//add
.unit-area
    padding: 5px 15px
    border: 1px solid rgba(#1781bb,0.5)
    border-radius: 2px
    margin: 0 0 15px
    background: rgba(#ccc,0.15)

.file-control
    width: auto
    a
        +dvm
        width: 120px
    >i
        font-size: 15px
        color: #999
        margin: 0 8px 0 0
.file-del
    +dvm

//留言列表
.comment-list
    li
        padding: 5px 10px
        margin: 0 0 5px
        border-radius: 2px
        background: rgba(#ddd,0.3)
        &:last-child
            margin: 0
        >div
            padding: 5px
        .response-area
            text-align: right
            padding: 10px 5px 5px

.comment-area
    border-bottom: 1px dashed #aaa

.comment-name
    color: $btn
    display: flex
    justify-content: space-between
    align-self: center
    span
        font-size: 18px
        margin: 0 10px 0 0

.comment-show
    i
        font-size: 16px
        cursor: pointer
    .red
        color: #d14d4d

.response-box
    display: flex
    justify-content: flex-start
    align-items: center
    input
        width: calc(100% - 85px)
        margin: 0 5px 0 0
        padding: 7px 10px
    .btn
        margin: 0

.tit-btn
    display: flex
    justify-content: space-between
    align-items: center
    .btn
        font-weight: normal
        text-shadow: none
        margin: 0

.operat-list
    li
        margin: 0 0 10px
        display: flex
        justify-content: flex-start
        align-items: center

.operat-box
    margin: 0 10px 0 0
    display: flex
    justify-content: space-between
    align-items: center
    &:last-child
        margin: 0
    span
        font-weight: bold
        color: #1781bb
    .en-color
        color: #f3a32b

.operat-input-box
    .input-sty
        padding: 7px 10px

.operat-btn
    cursor: pointer
    i
        font-size: 20px
        color: #999
        &:hover
            color: #1781bb
    
.operat-list.out-link
    li
        flex-wrap: wrap
        margin: 0 0 5px
    .operat-box
        width: calc((93.5% - 80px)/2)
        margin: 0 10px 10px 0
        .operat-input-box
           width: calc(100% - 70px)
    .operat-btn
        transform: translateY(-4px)

.upload-btn
    position: relative
    input
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        z-index: 2
        opacity: 0
        cursor: pointer

.no-data
    color: #999
    padding: 10px 10px 20px

.input-box .tag-src-area label
    display: inline-block

.tag-src-area
    display: flex
    justify-content: space-between
    align-items: center

.tag-src-box
    display: flex
    justify-content: flex-start
    align-items: center

.tag-input
    border: 1px solid #d0d0d0
    padding: 3px 5px
    background: rgba(#eee,0.7)

.tag-btn
    color: #fff
    padding: 3px 6px
    margin: 0 3px
    border-radius: 2px
    background: #999
    cursor: pointer
    &:hover
        background: darken(#999,10%)

.tag-btn.src
    background: $main-color
    &:hover
        background: darken($main-color,10%)

.tag-area
    margin: 0 0 10px
.tag-box
    display: flex
    justify-content: flex-start
    align-items: center
    margin: 10px 0 0
    .no-data
        padding: 10px

.tt-hint
    color: #999

.tt-menu
    width: 100%
    max-height: 120px
    padding: 3px
    border: 1px solid #999
    background: #fff
    box-sizing: border-box
    overflow: scroll

.tt-suggestion
    padding: 0 3px
    cursor: pointer
    &:hover
        color: #fff
        background: $main-color

.two-txt-box
    display: flex
    justify-content: flex-start
    align-items: flex-start
    span
        line-height: 42px
        margin: 0 5px

.space-between-area
    display: flex
    justify-content: space-between
    align-items: center
    i
        font-size: 20px

.icon-btn
    padding: 2px 4px
    border-radius: 2px
    cursor: pointer
    transition: .2s
    &:hover
        opacity: 0.8
    
.icon-btn.act
    color: #fff
    background: $main-color

.r-box
    display: flex
    justify-content: flex-end
    align-items: center
    .btn:last-child
        margin: 0

.input-box-en
    label
        color: #f3a32b
    // .input-sty
    //     background: #fff1d5
    //     border-color: #fcc675

a.to-link
    text-decoration: underline
    &:hover
        color: $btn

input.cke_dialog_ui_radio_input
    width: auto
    height: auto
    opacity: 1
    -webkit-appearance: checkbox
    
#view-selector-container
    margin: 10px 0

.ga-info-area
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap
    margin: 20px 0 10px

.ga-info-box
    width: calc(100%/3)
    margin: 0 0 10px
    label
        color: $btn
        font-weight: bolder
        margin: 0 0 5px
        display: inline-block

.w-local
    width: 190px

.red-txt
    color: #d14d4d

.green-txt
    color: #169410

.list-link
    color: #1a81bb
    border-bottom: 1px solid
    &:hover
        color: darken(#1a81bb,10%)

//live video
.video-lg-box
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 110
    display: flex
    justify-content: center
    align-items: center
    .live-box
        box-shadow: 0 0 50px #111
        p
            font-size: 18px
        i
            font-size: 26px
        iframe
            width: 800px
            height: 600px


.live-map
    min-width: 1090px
    height: 72vh
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: nowrap
.map
    width: 900px
    margin: 0 190px 0 0
    position: relative

.live-box
    background: #0f638d
    padding: 6px 10px 6px
    border-radius: 10px
    position: absolute
    z-index: 1
    p
        color: #fff
        padding: 0 0 4px
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
    i
        font-size: 16px
        transition: .3s
        cursor: pointer
        &:hover
            color: #62fff9
    iframe
        width: 320px
        height: 173px
        border: 1px solid #5490ad
    video
        width: 310px
        height: 173px
        border: 1px solid #5490ad
.live-1
    top: 7.7%
    right: -18.8%
    &::after
        content: ''
        display: block
        width: 0
        height: 0
        position: absolute
        border: 11px solid transparent
        border-top: 24px solid #0f638d
        transform: rotate(45deg)
        
        left: -12px
        bottom: -19px
.live-2
    top: 60.6%
    right: -19.4%
    &::after
        content: ''
        display: block
        width: 0
        height: 0
        position: absolute
        border: 8px solid transparent
        border-top: 30px solid #0f638d
        transform: rotate(140deg)
        
        left: -13px
        top: -28px
.live-3
    top: 71%
    left: 39%
    &::after
        content: ''
        display: block
        width: 0
        height: 0
        position: absolute
        border: 10px solid transparent
        border-top: 86px solid #0f638d
        transform: rotate(-195deg)
        
        right: 69px
        top: -85px
.live-4
    top: -11.7%
    right: 22.3%
    &::after
        content: ''
        display: block
        width: 0
        height: 0
        position: absolute
        border: 11px solid transparent
        border-top: 94px solid #0f638d
        transform: rotate(0deg)
        
        right: 84px
        bottom: -102px
.live-5
    top: 17%
    left: 1%
    &::after
        content: ''
        display: block
        width: 0
        height: 0
        position: absolute
        border: 8px solid transparent
        border-top: 110px solid #0f638d
        transform: rotate(-75deg)
        right: -60px
        bottom: -58px
.live-video-group
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    align-items: flex-start
.live-video
    width: 600px
    iframe
        width: 100%
        height: 338px

//data_replay
.video-replay-area
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    align-items: center
.video-replay-group
    &:nth-child(1)
        margin-right: 20px

.video-replay-box
    border-radius: 8px
    background: #eee
    padding: 12px
    border: 1px solid #ddd
    margin: 0 auto 20px
    display: inline-block

.video-replay
    width: 760px
    height: 428px
    position: relative
    background: #d4d4d4
    video
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 2
    p
        font-size: 70px
        color: #999
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        z-index: 1



//data analysis
.chart-box
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: nowrap
    padding: 12px 0
    margin: 0 0 20px
    .highcharts-a11y-proxy-button //隱藏不要得控件
        display: none !important
.people-total-box
    width: 100%
    border: 1px solid #eee
.chart-item
    width: 49%
    border: 1px solid #eee
    background: #fff
.total-item
    width: 30%
.avg-group
    display: flex
    justify-content: flex-start
    align-items: center
    flex-wrap: nowrap
    margin: 0 0 20px
    span
        font-family: 'Barlow', sans-serif
        font-size: 32px
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300;1,400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap')
.total-people
    width: 100px
    height: 100px
    background: #91bbaa
    color: #fff
    font-weight: 400
    text-align: center
    border: 1px solid #3e9471
    border-radius: 200px
    padding: 21px 0 0
    margin: 0 20px 0 0
    box-sizing: border-box
    i
        font-size: 32px
.total-proportion
    background: #fdb293
    border: 1px solid #fb7d49
.total-avg
    background: #dcc4d9
    border: 1px solid #bd76b4
.path-result-box
    border-radius: 8px
    background: #eee
    padding: 12px
    border: 1px solid #ddd
    margin: 0 auto 20px
    display: inline-block
    position: relative
    box-sizing: border-box
    display: none
    img
        width: 100%
        display: block
.path-circle
    font-size: 22px
    font-family: 'Barlow', sans-serif
    font-weight: bold
    box-sizing: border-box
    text-align: center
    color: #000
    width: 90px
    height: 90px
    line-height: 80px
    // padding: 13px 0 0
    border-radius: 100px
    border: 5px solid rgba(255,255,255,0.1)
    background: rgba(255,255,255,0.9)
    position: absolute
    z-index: 1
.path-right
    right: 17%
    top: 73%
.path-left
    left: 17%
    top: 73%
.path-result01
    width: 1000px
    .path01
        left: 83%
        top: 44%
    .path02
        left: 9%
        top: 44%
    .path03
        left: 44%
        top: 70%
    .path04
        left: 74%
        top: 74%
    .path05
        left: 13%
        top: 74%
    .path-txt01
        top: 36%
        left: 80.1%
    .path-txt02
        top: 36%
        left: 7.1%
    .path-txt03
        top: 62%
        left: 41.5%
    .path-txt04
        top: 65.5%
        left: 71.5%
    .path-txt05
        top: 65.5%
        left: 11.5%
.path-result02
    width: 1000px
    .path01
        left: 37%
        top: 63%
    .path02
        left: 55%
        top: 77%
    .path-txt01
        top: 69%
        left: 52.4%
    .path-txt02
        width: 150px
        top: 55%
        left: 33.6%
.path-result03
    width: 1000px
    .path01
        left: 19.3%
        top: 35%
    .path02
        left: 80%
        top: 28%
    .path03
        left: 44.5%
        top: 53%
    .path-txt01
        top: 28%
        left: 17.4%
    .path-txt02
        top: 19.4%
        left: 77.5%
    .path-txt03
        top: 45%
        left: 42%
.path-txt
    color: #fff
    width: 130px
    text-align: center
    padding: 5px
    border: 3px solid rgba($main-color,0.6)
    border-radius: 5px
    background: rgba($main-color,0.6)
    position: absolute
    z-index: 1
    box-sizing: border-box

.line-input-box
    .input-sty
        padding: 5px
        text-align: center

.file-upload-box
    display: flex
    justify-content: flex-start
    align-items: center
    .btn-submit
        width: auto
        position: relative
        input
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            opacity: 0
            z-index: 2
//color picker
.set-color-box
    >label
        font-size: 16px
        font-weight: 600
        color: #1781bb
    .btn-area
        padding: 0
.set-color-group
    background: #eee
    border-radius: 3px
    border: 1px solid #ddd
    padding: 8px
    margin: 0 0 20px
    display: flex
    justify-content: flex-start
    align-items: center
    flex-wrap: nowrap
    
.color-btn
    margin: 0 15px 0 0
    label
        font-size: 14px
        color: #111
        font-weight: normal
        display: flex
        justify-content: flex-start
        align-items: center
    input[type="color"]
        width: 30px
        height: 30px
        padding: 0 4px
        margin: 0 0 0 5px
        background: #fff
        cursor: pointer
    input[type="text"]
        width: 70px
        padding: 0 5px
        height: 22px
        border: 1px solid #ddd
    
//即時人流
.live-people
    color: #5e9671
    text-align: center
    width: 250px
    padding: 20px 35px 10px 20px
    border: 1px solid #8ebb9f
    margin: 0 0 8px
    background: #c3dccc
    border-radius: 14px
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    p
        width: 100%
        margin: 0 0 5px
    i
        font-size: 45px
        margin: 0 20px 0 0
.people-number
    line-height: 1
    font-family: 'Teko', sans-serif
    span
        color: #5e9671
        font-size: 100px
        line-height: 1
        letter-spacing: 2px
        display: inline-block
        position: relative
        &::after
            content: '人'
            display: block
            font-size: 16px
            position: absolute
            right: -25px
            bottom: 22px

//=== 閉館日列表 ===
.offday-area
    text-align: center
    width: 1000px
    border-left: 1px solid #d0d0d0
    border-top: 1px solid #d0d0d0
    box-sizing: border-box
    margin: 0 0 10px
.offday-tit
    font-size: 16px
    color: #fff
    padding: 5px
    font-weight: bold
    border-bottom: 1px solid #d0d0d0
    background: $main-color
.offday-date-area
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: stretch
.offday-box
    width: calc(100%/12)
    border-right: 1px solid #d0d0d0
    border-bottom: 1px solid #d0d0d0
    box-sizing: border-box
.offday-mon
    color: #fff
    padding: 5px
    background: lighten($main-color,10%)
.offday-date
    padding: 5px
    word-break: break-word

//=== 地警網後台 ===
.nav-tit
    color: #fff
    padding: 10px
    border-bottom: 1px solid #777
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer
    span
        font-size: 18px
        display: block

.real-people-area
    width: 200px
    padding: 10px
    border-radius: 5px
    margin: 0 0 10px
    border: 1px solid #aaa
    background: #ddd
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    box-sizing: border-box
    .tit
        width: 100%
        text-align: center
.real-people-box
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    i
        font-size: 28px
        margin: 0 5px 0 0
    .txt
        font-size: 38px
        font-weight: bold
.real-people01
    color: #5d9671
    border: 1px solid #b3d1c1
    background: #c4dccc
.real-people02
    color: #c7ac21
    border: 1px solid #ebe777
    background: #fff5a0
.real-people03
    color: #b92b2b
    border: 1px solid #d79494
    background: #ffb9b9

.newsletter-area
    width: 1000px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start
.newsletter-cont
    width: calc(100% - 150px)
    .news-box
        padding: 0 0 10px
        margin: 0 0 10px
        position: relative
        border-bottom: 1px solid #ddd
    .sort-box
        position: absolute
        top: 10px
        right: 20px
        z-index: 2
        i
            font-size: 26px
    .news-opera
        margin: 0 0 10px
        cursor: pointer
        transition: .2s
        display: block
        &:last-child
            margin: 0
        &:hover
            color: $main-color
    .input-box-w
        margin: 0 5% 5px 0
    .set-area
        width: 93.5%
        padding: 0 5px
        background: #f1f1f1
        border: 1px dashed #ccc
        box-sizing: border-box
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        .input-box
            width: 48%
            margin: 0 0 5px 0
    .set-area.half
        margin: -15px 0 0
.newsletter-fun
    width: 130px
    position: sticky
    top: 10px
    .btn-submit
        color: #fff
        margin: 0 0 5px
        text-align: center
        padding: 10px 5px
        cursor: pointer
.newsletter-demo-box
    width: 740px
.demo-iframe
    overflow: scroll
    background: #fff url(../img/backend_img/main_bg.png)
.news-art-area
    position: relative
    border-bottom: 1px dashed #ddd
    &:last-child
        border-bottom: none
.news-art-cont
    width: 93.5%
    display: block
    padding: 15px 0
.news-art-tit
    font-size: 20px
    margin: 0 0 15px
    text-align: center
    color: #50423E
    display: block
    &:last-child
        margin: 0
.news-art-img
    margin: 0 0 5px
    img
        width: 100%
.news-art-des
    color: #50423E
.check-input-txt
    margin: 0
    display: inline-block
    vertical-align: middle
    i
        top: 10px
    label.error
        padding: 8px
        position: absolute
        top: 4px
        right: -55px

.article-area
    .no-data
        padding: 10px 0
        text-align: center 

.breadcrumb + .sub-menu
    margin: 0

.star-box
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
    img
        width: 10px
        margin-right: 3px

.qrcode-img
    width: 80%
    margin: 0 auto
    img
        width: 100%

.mail-effect-area
    width: 650px
.mail-effect-box
    color: #fff
    width: 175px
    padding: 10px
    margin: 0 0 5px
    border: 3px solid rgba($main-color,.5)
    border-radius: 5px
    background: rgba($main-color,.8)
    +dvm
    .icon
        font-size: 28px
        width: 35px
        margin-right: 10px
        text-align: center
        +dvm
    .info
        +dvm
        .tit
            font-size: 18px
            margin: 0 0 5px
        .cont
            .total
                font-size: 20px
            span
                color: #fff

.file-loading
    position: fixed
    width: 100%
    height: 100%
    background: rgba(#000,0.7)
    z-index: 5
    display: none
    span
        font-size: 20px
        color: #fff
        position: absolute
        top: 50%
        left: 50%
        z-index: 1
        transform: translate(-50%,-50%)
        animation: bookLoad 1s infinite alternate ease-in-out
@keyframes bookLoad
    0%
        opacity: 0
    100%
        opacity: 1