@charset "UTF-8";
/* (@)whitenight.tw by truesun */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
html, body {
  height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: inline-block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a {
  color: #555;
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input, select, textarea {
  outline: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

html, body {
  color: #555;
  font-size: 14px;
  font-family: "PingFang TC", "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Helvetica Neue", "Helvetica", "Arial", "华文细黑", "STHeiti", sans-serif;
}

input, textarea, select {
  font-family: "PingFang TC", "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Helvetica Neue", "Helvetica", "Arial", "华文细黑", "STHeiti", sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=radio], input[type=checkbox] {
  width: 1px;
  height: 1px;
  opacity: 0;
}

input[type=radio]:checked + .radio-box::after {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 30px;
  display: block;
  background: #1781bb;
}

input[type=checkbox]:checked + .check-box::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro";
  color: #1781bb;
  font-weight: 900;
  font-size: 14px;
  margin: 0 0 0 2px;
  display: block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  transform: translate(0, 0);
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
}

.lg-box {
  box-shadow: 0 0 50px #111;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 100;
}

.lg-tit {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #1781bb;
  padding: 10px 8px;
  border-bottom: 2px solid #11577d;
}

.lg-cont {
  background: #fff;
  padding: 15px;
  overflow: auto;
}
.lg-cont h2 {
  font-size: 18px;
  color: #999;
  padding: 20px 0 10px 0;
  text-shadow: 0 1px 0 #fff;
}
.lg-cont h3 {
  font-size: 16px;
  color: #999;
  padding: 10px 0;
  text-shadow: 0 1px 0 #fff;
}
.lg-cont .input-box-w {
  width: 100%;
  margin: 0 0 20px;
}

.lg-bot {
  text-align: center;
  background: #e5e5e5;
  padding: 8px;
  border-top: 1px solid #ccc;
}
.lg-bot .btn {
  margin: 0 5px;
  position: relative;
}
.lg-bot .btn input {
  display: block;
  width: 100%;
  position: absolute;
  margin: 0;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
  z-index: 2;
}

.lg-mesg-box {
  width: 400px;
  margin: 0 0 0 -200px;
}

.lg-big-box {
  width: 800px;
  margin: 0 0 0 -400px;
}

.lg-add {
  max-height: 300px;
  overflow: y-scroll;
}

.input-sty {
  color: #555;
  font-size: 14px;
  width: 100%;
  background: #eee;
  padding: 10px 10px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  transition: background 0.4s, box-shadow 0.4s;
  vertical-align: middle;
}
.input-sty:focus {
  background: #fff;
  box-shadow: 0 0 3px #ccc;
}
.input-sty::placeholder {
  color: #bbb;
}

.select-sty {
  color: #555;
  font-size: 14px;
  width: 100%;
  height: 42px;
  background: #eee;
  padding: 0 0 0 10px;
  background: #eee url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  display: inline-block;
  outline: 0;
  transition: background 0.4s, box-shadow 0.4s;
  vertical-align: middle;
}
.select-sty:focus {
  background: #fff url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%;
  box-shadow: 0 0 3px #ccc;
}

.radio-box {
  width: 19px;
  height: 19px;
  padding: 2px;
  border: 2px solid #1781bb;
  border-radius: 30px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 0 0;
}

.check-box {
  width: 19px;
  height: 19px;
  border: 2px solid #1781bb;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 0 0;
}

.txt-c {
  text-align: center;
}

.txt-r {
  text-align: right;
}

.imp {
  color: #d14d4d;
}

.cle {
  clear: both;
}

.error {
  border: 1px solid #d2664f;
}

.note {
  padding: 0 5px 10px 0;
  color: #999;
}

.icon-right {
  position: relative;
}
.icon-right .input-sty {
  padding: 10px 35px 10px 10px;
}
.icon-right i {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 47px;
  z-index: 1;
}
.icon-right .note {
  padding: 5px 0 0 0;
}

.check-list {
  margin: 0;
}
.check-list label {
  padding: 6px 10px 6px 3px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 10px 0 0;
  transition: 0.2s;
}
.check-list label:hover {
  background: #eee;
}
.check-list label a {
  color: #1781bb;
  vertical-align: middle;
}
.check-list label a i {
  font-size: 16px;
}
.check-list label.error {
  color: #fff;
  border-radius: 2px;
  background: #d2664f;
  line-height: 16px;
  margin: 0;
  display: inline-block;
}
.check-list span {
  vertical-align: middle;
}

/*Login page*/
.login-page-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/backend_img/pic_mask.png);
}

.login-page-bg {
  width: 100%;
  height: 100%;
  background: #000 url(../img/backend_img/login_bg_default.jpg) no-repeat center 0/cover;
}

.loain-box {
  width: 500px;
  margin: 0 0 0 -250px;
  position: absolute;
  top: 100px;
  left: 50%;
}

.logo {
  width: 160px;
  height: 90px;
  background: url(../img/backend_img/backend_logo.png) no-repeat center center/cover;
  position: absolute;
  top: -50px;
  left: 170px;
  z-index: 1;
}

.login {
  width: 500px;
  text-align: center;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}
.login h1 {
  margin: 35px 15px 0;
  color: #fff;
  font-size: 16px;
}
.login .input-box {
  width: 100%;
  margin: 20px auto;
  position: relative;
  display: block;
}
.login .input-box i {
  font-size: 22px;
  color: #106696;
  position: absolute;
  top: 9px;
  right: 15px;
  z-index: 1;
}
.login label {
  padding: 8px 12px;
  border: none;
  display: block;
  position: absolute;
  top: 3px;
  right: 7px;
  border: 1px solid #d2664f;
  background: #d2664f;
  border-radius: 3px;
}
.login label input[class~=input-sty] {
  font-size: 18px;
  padding: 10px 10px 10px 45px;
  z-index: 2;
}
.login label.error {
  color: #fff;
  margin: 1px 0 0;
}

.login-error-mesg {
  color: #f00;
  padding: 0 25px;
}

.login-footer {
  color: #fff;
  text-align: center;
}

.login-btn-box {
  text-align: center;
  margin: 20px auto;
}

.login-submit-btn {
  font-size: 18px;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  background: #1471a4;
  width: 100%;
  box-shadow: 0 0 3px #90D0F2 inset, 0 0 5px rgb(0, 0, 0);
  padding: 12px 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.2s;
}
.login-submit-btn:hover {
  background: #11628e;
}

body {
  width: 100%;
  min-width: 1300px;
  height: 100%;
  overflow: hidden;
  background: url(../img/backend_img/body_bg.png);
}

.main {
  height: 100%;
  padding: 0 20px 0 30px;
  overflow: auto;
  background: #fff url(../img/backend_img/main_bg.png);
}
.main h1 {
  font-size: 24px;
  color: #1781bb;
  padding: 15px 0 20px 0;
  background: url(../img/backend_img/title_line.png) 0 53px repeat-x;
}
.main h2 {
  font-size: 18px;
  line-height: 2;
  color: #999;
  padding: 20px 0 10px 0;
  text-shadow: 0 1px 0 #fff;
}
.main h3 {
  font-size: 16px;
  color: #999;
  padding: 10px 0;
  text-shadow: 0 1px 0 #fff;
}

.side-nav {
  width: 180px;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.side-box {
  width: 180px;
  height: 100%;
}

.btn-side-close {
  color: #fff;
  font-size: 20px;
  width: 26px;
  height: 28px;
  box-sizing: border-box;
  padding: 0 0 0 9px;
  background: #222;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 180px;
  z-index: 1;
}
.btn-side-close:hover p {
  height: 78px;
}
.btn-side-close p {
  color: #fff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: #222;
  position: absolute;
  top: 28px;
  left: 0;
  transition: 0.3s;
}

.btn-side-open {
  color: #fff;
  font-size: 20px;
  width: 26px;
  height: 28px;
  box-sizing: border-box;
  padding: 0 0 0 9px;
  background: #1781bb;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -40px;
  z-index: 2;
}
.btn-side-open:hover p {
  height: 78px;
}
.btn-side-open p {
  color: #fff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: #1781bb;
  position: absolute;
  top: 28px;
  left: 0;
  transition: 0.3s;
}

.side-logo {
  width: 160px;
  height: 90px;
  margin: 10px auto;
  background: url(../img/backend_img/backend_logo.png) no-repeat center/cover;
}

.side-footer {
  font-size: 12px;
  text-align: center;
  color: #555;
  width: 180px;
  line-height: 45px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.backend-tit {
  text-align: right;
  color: #999;
  font-size: 12px;
  padding: 5px;
}

.user-info {
  text-align: right;
  color: #eee;
  text-shadow: 0 1px 1px #000;
  line-height: 25px;
  margin: 0 0 10px;
}

.user-id {
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid #000;
}

.change-pwd-box {
  display: inline-block;
}

.change-pwd {
  color: #999;
  padding: 3px 5px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #414141;
  background: #000;
  transition: 0.2s;
}
.change-pwd:hover {
  background: #000;
  color: #ccc;
}

.sign-out-box {
  padding: 10px;
  border-top: 1px solid #333;
}

.sign-out {
  color: #999;
  box-shadow: 0 1px 0 #414141;
  padding: 5px 8px;
  border-radius: 3px;
  background: #0d0d0d;
  transition: 0.2s;
}
.sign-out:hover {
  background: #000;
  color: #ccc;
}

.nav-box {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

.nav {
  padding: 0;
}
.nav a {
  font-size: 14px;
  color: #999;
  padding: 12px 10px 11px 10px;
  margin: 0;
  display: block;
  transition: background 0.2s;
}
.nav a:hover {
  color: #fff;
  background: #333;
}
.nav a.act {
  color: #fff;
  background: #444;
  text-shadow: 0 0 12px #39B7FC;
}
.nav i {
  width: 15px;
  margin: 0 3px 0 0;
  text-align: center;
}

.sub-menu {
  margin: -10px 0 20px 0;
  background: #222627;
  padding: 10px;
  overflow: hidden;
}
.sub-menu li {
  float: left;
  margin: 0 10px 0 0;
}
.sub-menu a {
  color: #fff;
  text-shadow: 0 1px 1px #000;
  padding: 5px 12px;
  display: block;
  transition: 0.2s;
  border-radius: 2px;
  box-shadow: 0 2px 2px #000;
}
.sub-menu a.act, .sub-menu a:hover {
  color: #fff;
  background: #11628e;
}

.sub-page {
  height: 31px;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid #1781bb;
}
.sub-page li {
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  display: block;
  border-radius: 5px 5px 0 0;
  transition: 0.2s;
  float: left;
  margin: 0 0 0 10px;
  cursor: pointer;
}
.sub-page li:hover {
  background: #eee;
}
.sub-page li.act {
  color: #1781bb;
  border: 1px solid #1781bb;
  border-bottom: 1px solid #F9F9F9;
}
.sub-page li.act:hover {
  background: #F9F9F9;
}

.res-nav {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0 0 10px;
  height: 32px;
  position: relative;
  border: none;
}
.res-nav li {
  display: inline-block;
  float: none;
  position: relative;
  z-index: 2;
}
.res-nav:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #1781bb;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 1;
}

.breadcrumb {
  margin: 10px 0;
  background-color: #ECECEC;
  border-radius: 4px;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb a {
  color: #337ab7;
  text-decoration: none;
  padding: 8px 10px;
  display: inline-block;
  transition: 0.2s;
}
.breadcrumb a:hover {
  background: #ddd;
}
.breadcrumb span {
  padding: 8px 10px;
}
.breadcrumb a.active {
  color: #777;
}
.breadcrumb:focus {
  background: #fff;
  box-shadow: 0 0 3px #ccc;
}

.breadcrumb > li + li:before {
  padding: 0 0;
  color: #ccc;
  content: "/ ";
}

.input-box {
  width: 44%;
  margin: 0 5% 20px 0;
  display: inline-block;
  vertical-align: top;
}
.input-box p {
  font-size: 15px;
}
.input-box label {
  font-size: 16px;
  color: #1781bb;
  font-weight: bold;
  margin: 5px 5px 10px 0;
  display: block;
}
.input-box .check-list label {
  font-weight: normal;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.input-box label.error {
  color: #fff;
  font-weight: normal;
  padding: 5px 8px;
  border-radius: 2px;
  background: #d2664f;
  display: inline-block;
}
.input-box span {
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}
.input-box .red-txt {
  color: #d14d4d;
}
.input-box label + .note {
  padding: 0 0 5px 0;
}
.input-box span + .note {
  padding: 5px 0 0 0;
}

.input-box-w {
  width: 93.5%;
}

.input-box-100 {
  width: 100%;
  margin: 0 0 20px;
}

.more-info {
  height: 400px;
}

.desc-info {
  height: 500px;
}
.desc-info .cke_contents {
  height: 500px !important;
}

.w50 {
  width: 50px;
}

.w100 {
  width: 100px;
}

.w150 {
  width: 150px;
}

.w200 {
  width: 200px;
}

.w250 {
  width: 250px;
}

.w300 {
  width: 300px;
}

.w500 {
  width: 500px;
}

.w150.error {
  margin: 0 10px 0 0;
}

.table {
  width: 80%;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0 0 15px 0;
  display: none;
}
.table th {
  background: #eee;
}
.table th, .table td {
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1%;
}

.table-group {
  font-size: 16px;
  width: 95%;
}

.table-group.t-w100 {
  width: 100%;
}

/*tag style*/
.tag {
  overflow: hidden;
}
.tag li {
  border: 1px solid #ddd;
  margin: 0 8px 8px 0;
  float: left;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s;
}
.tag li:hover {
  border: 1px solid #1781bb;
}

.tag-add {
  font-size: 18px;
  color: #fff;
  background: #1781bb;
  line-height: 30px;
  padding: 0 8px;
}
.tag-add:hover {
  background: #11628e;
}

.tag-name {
  line-height: 30px;
  padding: 0 8px;
  float: left;
}

.tag-name-input {
  border: none;
  border-radius: 0;
  float: left;
  display: block;
}
.tag-name-input input.input-sty {
  width: 120px;
  padding: 5px 8px;
  border: none;
}

.tag-del {
  font-size: 18px;
  background: #ddd;
  padding: 0 8px;
  line-height: 30px;
  float: left;
  display: block;
  transition: 0.2s;
}
.tag-del:hover {
  background: #ccc;
}

.tag-creat {
  display: none;
}

.tag-check {
  font-size: 18px;
  color: #fff;
  background: #1781bb;
  padding: 0 15px;
  line-height: 30px;
  float: left;
  display: block;
  transition: 0.2s;
  position: relative;
}
.tag-check:hover {
  background: #11628e;
}
.tag-check input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.tag-lg-box {
  background: #fff;
  box-shadow: 0 0 20px #999;
  border-radius: 5px;
  width: 280px;
  padding: 15px;
  margin: -145px 0 0 -140px;
}
.tag-lg-box .input-sty {
  width: 96%;
  font-size: 20px;
}
.tag-lg-box label.error {
  color: #fff;
  border-radius: 2px;
  background: #d2664f;
  display: inline-block;
  margin: 5px 0 0 0;
}
.tag-lg-box .submit-btn {
  margin: 0;
}

.tag-lg-list {
  width: 680px;
  margin: -350px 0 0 -270px;
}

.btn-area {
  font-size: 16px;
  text-shadow: 0 1px 1px #000;
  letter-spacing: 2px;
  padding: 10px 0;
}
.btn-area input {
  display: block;
  width: 100%;
  position: absolute;
  margin: 0;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
  z-index: 2;
}

.btn {
  color: #fff !important;
  font-size: 14px;
  display: inline-block;
  position: relative;
  padding: 8px 12px;
  margin: 0 15px 0 0;
  border-radius: 2px;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  transition: 0.2s;
  cursor: pointer;
}

.btn-submit {
  background: #1781bb;
}
.btn-submit a {
  color: #fff;
}
.btn-submit:hover {
  background: #11628e;
}

.btn-org {
  background: #f3a32b;
}
.btn-org:hover {
  background: #de8a0d;
}

.btn-function {
  background: #d14d4d;
}
.btn-function:hover {
  background: #bb3030;
}

.btn-cancel {
  background: #999;
}
.btn-cancel:hover {
  background: gray;
}

.btn-green {
  background: #4ea765;
}
.btn-green:hover {
  background: #3e8450;
}

.list {
  width: 100%;
  margin: 0 0 20px 0;
  color: #555;
}
.list li.title {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.list li.title:hover {
  background: none;
}
.list li {
  width: 100%;
  border-bottom: 1px dotted #ccc;
}
.list li:hover {
  background: #fff;
}
.list img {
  width: 100%;
  display: block;
}
.list .blue {
  color: #1781bb;
}
.list .red {
  color: #d14d4d;
}
.list .no-data {
  text-align: center;
  padding: 10px;
}

.list-tit {
  margin: 0;
}

.title i {
  cursor: pointer;
}
.title i:hover {
  color: #1781bb;
}
.title i.act {
  color: #1781bb;
}

.data-box {
  width: 700px;
  border: 1px solid #ccc;
}
.data-box .list {
  margin: 0;
}
.data-box li:last-child {
  border: none;
}
.data-box .check-list label {
  margin: 0;
}
.data-box .check-list span {
  font-size: 14px;
}

.box-list {
  overflow: hidden;
}
.box-list li {
  margin: 0 8px 10px 0;
  border: 2px solid #ccc;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.box-list li:hover {
  border: 2px solid #1781bb;
}
.box-list li:hover p {
  background: #1781bb;
}
.box-list li:hover .del {
  display: block;
}
.box-list li.act {
  border: 2px solid #1781bb;
}
.box-list li.act p {
  background: #1781bb;
}
.box-list li.act .del {
  display: block;
}
.box-list img {
  display: block;
}
.box-list a {
  width: 120px;
  display: block;
}
.box-list p {
  color: #fff;
  text-align: center;
  width: 100%;
  background: #999;
  height: 25px;
  line-height: 25px;
  transition: 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  box-sizing: border-box;
}
.box-list .img-box {
  width: 120px;
  height: 120px;
}
.box-list .img-box img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.box-list .del i:hover {
  opacity: 0.8;
}

.del {
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 30px;
  height: 30px;
  background: #1781bb;
  line-height: 29px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
  cursor: pointer;
}

.photo-list {
  margin: 0 0 10px;
}
.photo-list li {
  width: 200px;
  border: 1px solid #ccc;
  padding: 5px;
  background: #eee;
  margin: 0 10px 10px 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: 0.3;
}
.photo-list li:hover {
  border: 1px solid #1781bb;
}
.photo-list a {
  width: 100%;
  display: inline-block;
  position: relative;
}
.photo-list img {
  width: 100%;
  display: block;
}
.photo-list p {
  text-align: center;
  padding: 5px 0 0;
}

.del-photo {
  width: 21px;
  height: 21px;
  background: url(../img/backend_img/pic_del.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.search-box {
  text-align: left;
  background: #f2f2f2;
  border: 1px solid #d0d0d0;
  padding: 8px 0 0;
  margin: 0 0 10px;
}
.search-box .btn-area {
  background: #e5e5e5;
  padding: 10px 0 8px 8px;
  border-top: 1px solid #ccc;
}

.search-ui-box {
  margin: 0 12px 8px 8px;
  display: inline-block;
  vertical-align: middle;
}
.search-ui-box label {
  display: inline-block;
  vertical-align: middle;
}
.search-ui-box span {
  display: inline-block;
  vertical-align: middle;
}

.search-signle {
  text-align: left;
  background: #eee;
  border: 1px solid #ddd;
  padding: 8px 0 0;
  margin: 0 0 10px;
}
.search-signle .search-ui-box {
  margin: 0 5px 8px 8px;
}
.search-signle .btn-area {
  padding: 0;
  margin: 0 0 8px;
  display: inline-block;
  vertical-align: middle;
}

.group-box-70, .group-box-83, .group-box-85, .group-box-100 {
  padding: 10px 0;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.group-box-15 {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-70 {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-83 {
  width: 83%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-85 {
  width: 85%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-100 {
  width: 100%;
}

.box-5 {
  width: 5%;
}

.box-6 {
  width: 6%;
}

.box-8 {
  width: 8%;
}

.box-10 {
  width: 10%;
}
.box-10 img {
  width: 50%;
}

.box-12 {
  width: 12%;
}

.box-14 {
  width: 14%;
}

.box-15 {
  width: 15%;
}

.box-16 {
  width: 16%;
}

.box-20 {
  width: 20%;
}

.box-25 {
  width: 25%;
}

.box-30 {
  width: 30%;
}

.box-35 {
  width: 35%;
}

.box-40 {
  width: 40%;
}

.box-45 {
  width: 45%;
}

.box-50 {
  width: 50%;
}

.box-55 {
  width: 55%;
}

.box-60 {
  width: 60%;
}

.box-65 {
  width: 65%;
}

.box-70 {
  width: 70%;
}

.box-75 {
  width: 75%;
}

.box-80 {
  width: 80%;
}

.box-85 {
  width: 85%;
}

.box-90 {
  width: 90%;
}

.box-95 {
  width: 95%;
}

.box-5, .box-6, .box-8, .box-10, .box-12, .box-14, .box-15, .box-16, .box-20, .box-25, .box-30, .box-35, .box-40, .box-45, .box-50, .box-55, .box-60, .box-65, .box-70, .box-75, .box-80, .box-85, .box-90, .box-95 {
  word-wrap: break-word;
  padding: 0 0.5%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.pad-u-d-10 {
  padding: 10px 0;
}

.opera {
  text-align: center;
}
.opera i {
  font-size: 15px;
  color: #999;
  margin: 0 8px 0 0;
}
.opera i:hover, .opera i.act {
  color: #1781bb;
}

.upload-pic {
  opacity: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.upload-img-box {
  width: 150px;
  height: 150px;
}
.upload-img-box label.error {
  position: absolute;
  top: 4px;
  left: 8px;
  z-index: 1;
}

.head-box {
  width: 200px;
  height: 200px;
}
.head-box label.error {
  position: absolute;
  top: 4px;
  left: 8px;
  z-index: 1;
}

.little-icon-box {
  width: 60px;
  height: 60px;
}
.little-icon-box label.error {
  position: absolute;
  top: 4px;
  left: 8px;
  z-index: 1;
}

.upload-box-sty {
  border: 1px solid #ccc;
  padding: 5px;
  background: #eee url(../img/backend_img/upload.png) center no-repeat;
  transition: 0.3s;
  position: relative;
}
.upload-box-sty:hover {
  border: 1px solid #1781bb;
}

.little-icon-box.upload-box-sty {
  background-size: contain;
}

.upload-click-area {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.upload-click-area img {
  width: 100%;
  height: 100%;
}

.upload-form-file {
  width: 100%;
  height: 40px;
}
.upload-form-file input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  cursor: pointer;
}

.form-file {
  text-align: center;
  font-size: 16px;
  text-shadow: 0 1px 1px #111;
  color: #fff;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background: #1781bb;
  margin: 0 10px 0 0;
  display: inline-block;
  position: relative;
  transition: background 0.2s;
}
.form-file:hover {
  background: #11628e;
}

.file-name {
  color: #1781bb;
  margin: 10px 0;
}
.file-name i {
  color: #d14d4d;
  cursor: pointer;
  transition: 0.2s;
}
.file-name i:hover {
  color: #bb3030;
}

.form-file label {
  margin: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  right: -129px;
}

.pagination {
  margin: 20px auto 100px;
}

.pagination-numbers {
  display: flex;
  justify-content: center;
}
.pagination-numbers a {
  color: #666;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.59);
  font-size: 13px;
  display: inline-block;
  position: relative;
  margin: 0px 5px;
  width: auto;
  height: auto;
  background: #ececec;
  padding: 6px 10px;
  border: 1px solid #d8d8d8;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.027), inset 0px 1px 0px rgba(255, 255, 255, 0.69), inset 0px -1px 0px rgba(0, 0, 0, 0.0187), inset 0px 14px 13px rgba(255, 255, 255, 0.57);
  transition: 0.3s;
}
.pagination-numbers a:hover {
  color: #888;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.69);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -14px 13px rgba(255, 255, 255, 0.2);
}
.pagination-numbers a.act {
  color: #696969;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
  border: 1px solid #d2d2d2;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -14px 13px rgba(255, 255, 255, 0.2);
}

.unit-area {
  padding: 5px 15px;
  border: 1px solid rgba(23, 129, 187, 0.5);
  border-radius: 2px;
  margin: 0 0 15px;
  background: rgba(204, 204, 204, 0.15);
}

.file-control {
  width: auto;
}
.file-control a {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
}
.file-control > i {
  font-size: 15px;
  color: #999;
  margin: 0 8px 0 0;
}

.file-del {
  display: inline-block;
  vertical-align: middle;
}

.comment-list li {
  padding: 5px 10px;
  margin: 0 0 5px;
  border-radius: 2px;
  background: rgba(221, 221, 221, 0.3);
}
.comment-list li:last-child {
  margin: 0;
}
.comment-list li > div {
  padding: 5px;
}
.comment-list li .response-area {
  text-align: right;
  padding: 10px 5px 5px;
}

.comment-area {
  border-bottom: 1px dashed #aaa;
}

.comment-name {
  color: #1781bb;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.comment-name span {
  font-size: 18px;
  margin: 0 10px 0 0;
}

.comment-show i {
  font-size: 16px;
  cursor: pointer;
}
.comment-show .red {
  color: #d14d4d;
}

.response-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.response-box input {
  width: calc(100% - 85px);
  margin: 0 5px 0 0;
  padding: 7px 10px;
}
.response-box .btn {
  margin: 0;
}

.tit-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tit-btn .btn {
  font-weight: normal;
  text-shadow: none;
  margin: 0;
}

.operat-list li {
  margin: 0 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.operat-box {
  margin: 0 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.operat-box:last-child {
  margin: 0;
}
.operat-box span {
  font-weight: bold;
  color: #1781bb;
}
.operat-box .en-color {
  color: #f3a32b;
}

.operat-input-box .input-sty {
  padding: 7px 10px;
}

.operat-btn {
  cursor: pointer;
}
.operat-btn i {
  font-size: 20px;
  color: #999;
}
.operat-btn i:hover {
  color: #1781bb;
}

.operat-list.out-link li {
  flex-wrap: wrap;
  margin: 0 0 5px;
}
.operat-list.out-link .operat-box {
  width: calc((93.5% - 80px) / 2);
  margin: 0 10px 10px 0;
}
.operat-list.out-link .operat-box .operat-input-box {
  width: calc(100% - 70px);
}
.operat-list.out-link .operat-btn {
  transform: translateY(-4px);
}

.upload-btn {
  position: relative;
}
.upload-btn input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.no-data {
  color: #999;
  padding: 10px 10px 20px;
}

.input-box .tag-src-area label {
  display: inline-block;
}

.tag-src-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-src-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tag-input {
  border: 1px solid #d0d0d0;
  padding: 3px 5px;
  background: rgba(238, 238, 238, 0.7);
}

.tag-btn {
  color: #fff;
  padding: 3px 6px;
  margin: 0 3px;
  border-radius: 2px;
  background: #999;
  cursor: pointer;
}
.tag-btn:hover {
  background: gray;
}

.tag-btn.src {
  background: #1781bb;
}
.tag-btn.src:hover {
  background: #11628e;
}

.tag-area {
  margin: 0 0 10px;
}

.tag-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 0;
}
.tag-box .no-data {
  padding: 10px;
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 100%;
  max-height: 120px;
  padding: 3px;
  border: 1px solid #999;
  background: #fff;
  box-sizing: border-box;
  overflow: scroll;
}

.tt-suggestion {
  padding: 0 3px;
  cursor: pointer;
}
.tt-suggestion:hover {
  color: #fff;
  background: #1781bb;
}

.two-txt-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.two-txt-box span {
  line-height: 42px;
  margin: 0 5px;
}

.space-between-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.space-between-area i {
  font-size: 20px;
}

.icon-btn {
  padding: 2px 4px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s;
}
.icon-btn:hover {
  opacity: 0.8;
}

.icon-btn.act {
  color: #fff;
  background: #1781bb;
}

.r-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.r-box .btn:last-child {
  margin: 0;
}

.input-box-en label {
  color: #f3a32b;
}

a.to-link {
  text-decoration: underline;
}
a.to-link:hover {
  color: #1781bb;
}

input.cke_dialog_ui_radio_input {
  width: auto;
  height: auto;
  opacity: 1;
  -webkit-appearance: checkbox;
}

#view-selector-container {
  margin: 10px 0;
}

.ga-info-area {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 10px;
}

.ga-info-box {
  width: 33.3333333333%;
  margin: 0 0 10px;
}
.ga-info-box label {
  color: #1781bb;
  font-weight: bolder;
  margin: 0 0 5px;
  display: inline-block;
}

.w-local {
  width: 190px;
}

.red-txt {
  color: #d14d4d;
}

.green-txt {
  color: #169410;
}

.list-link {
  color: #1a81bb;
  border-bottom: 1px solid;
}
.list-link:hover {
  color: #14628e;
}

.video-lg-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-lg-box .live-box {
  box-shadow: 0 0 50px #111;
}
.video-lg-box .live-box p {
  font-size: 18px;
}
.video-lg-box .live-box i {
  font-size: 26px;
}
.video-lg-box .live-box iframe {
  width: 800px;
  height: 600px;
}

.live-map {
  min-width: 1090px;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.map {
  width: 900px;
  margin: 0 190px 0 0;
  position: relative;
}

.live-box {
  background: #0f638d;
  padding: 6px 10px 6px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}
.live-box p {
  color: #fff;
  padding: 0 0 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.live-box i {
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}
.live-box i:hover {
  color: #62fff9;
}
.live-box iframe {
  width: 320px;
  height: 173px;
  border: 1px solid #5490ad;
}
.live-box video {
  width: 310px;
  height: 173px;
  border: 1px solid #5490ad;
}

.live-1 {
  top: 7.7%;
  right: -18.8%;
}
.live-1::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 11px solid transparent;
  border-top: 24px solid #0f638d;
  transform: rotate(45deg);
  left: -12px;
  bottom: -19px;
}

.live-2 {
  top: 60.6%;
  right: -19.4%;
}
.live-2::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 8px solid transparent;
  border-top: 30px solid #0f638d;
  transform: rotate(140deg);
  left: -13px;
  top: -28px;
}

.live-3 {
  top: 71%;
  left: 39%;
}
.live-3::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid transparent;
  border-top: 86px solid #0f638d;
  transform: rotate(-195deg);
  right: 69px;
  top: -85px;
}

.live-4 {
  top: -11.7%;
  right: 22.3%;
}
.live-4::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 11px solid transparent;
  border-top: 94px solid #0f638d;
  transform: rotate(0deg);
  right: 84px;
  bottom: -102px;
}

.live-5 {
  top: 17%;
  left: 1%;
}
.live-5::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 8px solid transparent;
  border-top: 110px solid #0f638d;
  transform: rotate(-75deg);
  right: -60px;
  bottom: -58px;
}

.live-video-group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.live-video {
  width: 600px;
}
.live-video iframe {
  width: 100%;
  height: 338px;
}

.video-replay-area {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.video-replay-group:nth-child(1) {
  margin-right: 20px;
}

.video-replay-box {
  border-radius: 8px;
  background: #eee;
  padding: 12px;
  border: 1px solid #ddd;
  margin: 0 auto 20px;
  display: inline-block;
}

.video-replay {
  width: 760px;
  height: 428px;
  position: relative;
  background: #d4d4d4;
}
.video-replay video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.video-replay p {
  font-size: 70px;
  color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.chart-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 12px 0;
  margin: 0 0 20px;
}
.chart-box .highcharts-a11y-proxy-button {
  display: none !important;
}

.people-total-box {
  width: 100%;
  border: 1px solid #eee;
}

.chart-item {
  width: 49%;
  border: 1px solid #eee;
  background: #fff;
}

.total-item {
  width: 30%;
}

.avg-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 0 20px;
}
.avg-group span {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
}

.total-people {
  width: 100px;
  height: 100px;
  background: #91bbaa;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 1px solid #3e9471;
  border-radius: 200px;
  padding: 21px 0 0;
  margin: 0 20px 0 0;
  box-sizing: border-box;
}
.total-people i {
  font-size: 32px;
}

.total-proportion {
  background: #fdb293;
  border: 1px solid #fb7d49;
}

.total-avg {
  background: #dcc4d9;
  border: 1px solid #bd76b4;
}

.path-result-box {
  border-radius: 8px;
  background: #eee;
  padding: 12px;
  border: 1px solid #ddd;
  margin: 0 auto 20px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.path-result-box img {
  width: 100%;
  display: block;
}

.path-circle {
  font-size: 22px;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  color: #000;
  width: 90px;
  height: 90px;
  line-height: 80px;
  border-radius: 100px;
  border: 5px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 1;
}

.path-right {
  right: 17%;
  top: 73%;
}

.path-left {
  left: 17%;
  top: 73%;
}

.path-result01 {
  width: 1000px;
}
.path-result01 .path01 {
  left: 83%;
  top: 44%;
}
.path-result01 .path02 {
  left: 9%;
  top: 44%;
}
.path-result01 .path03 {
  left: 44%;
  top: 70%;
}
.path-result01 .path04 {
  left: 74%;
  top: 74%;
}
.path-result01 .path05 {
  left: 13%;
  top: 74%;
}
.path-result01 .path-txt01 {
  top: 36%;
  left: 80.1%;
}
.path-result01 .path-txt02 {
  top: 36%;
  left: 7.1%;
}
.path-result01 .path-txt03 {
  top: 62%;
  left: 41.5%;
}
.path-result01 .path-txt04 {
  top: 65.5%;
  left: 71.5%;
}
.path-result01 .path-txt05 {
  top: 65.5%;
  left: 11.5%;
}

.path-result02 {
  width: 1000px;
}
.path-result02 .path01 {
  left: 37%;
  top: 63%;
}
.path-result02 .path02 {
  left: 55%;
  top: 77%;
}
.path-result02 .path-txt01 {
  top: 69%;
  left: 52.4%;
}
.path-result02 .path-txt02 {
  width: 150px;
  top: 55%;
  left: 33.6%;
}

.path-result03 {
  width: 1000px;
}
.path-result03 .path01 {
  left: 19.3%;
  top: 35%;
}
.path-result03 .path02 {
  left: 80%;
  top: 28%;
}
.path-result03 .path03 {
  left: 44.5%;
  top: 53%;
}
.path-result03 .path-txt01 {
  top: 28%;
  left: 17.4%;
}
.path-result03 .path-txt02 {
  top: 19.4%;
  left: 77.5%;
}
.path-result03 .path-txt03 {
  top: 45%;
  left: 42%;
}

.path-txt {
  color: #fff;
  width: 130px;
  text-align: center;
  padding: 5px;
  border: 3px solid rgba(23, 129, 187, 0.6);
  border-radius: 5px;
  background: rgba(23, 129, 187, 0.6);
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
}

.line-input-box .input-sty {
  padding: 5px;
  text-align: center;
}

.file-upload-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.file-upload-box .btn-submit {
  width: auto;
  position: relative;
}
.file-upload-box .btn-submit input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.set-color-box > label {
  font-size: 16px;
  font-weight: 600;
  color: #1781bb;
}
.set-color-box .btn-area {
  padding: 0;
}

.set-color-group {
  background: #eee;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 8px;
  margin: 0 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.color-btn {
  margin: 0 15px 0 0;
}
.color-btn label {
  font-size: 14px;
  color: #111;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.color-btn input[type=color] {
  width: 30px;
  height: 30px;
  padding: 0 4px;
  margin: 0 0 0 5px;
  background: #fff;
  cursor: pointer;
}
.color-btn input[type=text] {
  width: 70px;
  padding: 0 5px;
  height: 22px;
  border: 1px solid #ddd;
}

.live-people {
  color: #5e9671;
  text-align: center;
  width: 250px;
  padding: 20px 35px 10px 20px;
  border: 1px solid #8ebb9f;
  margin: 0 0 8px;
  background: #c3dccc;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.live-people p {
  width: 100%;
  margin: 0 0 5px;
}
.live-people i {
  font-size: 45px;
  margin: 0 20px 0 0;
}

.people-number {
  line-height: 1;
  font-family: "Teko", sans-serif;
}
.people-number span {
  color: #5e9671;
  font-size: 100px;
  line-height: 1;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
}
.people-number span::after {
  content: "人";
  display: block;
  font-size: 16px;
  position: absolute;
  right: -25px;
  bottom: 22px;
}

.offday-area {
  text-align: center;
  width: 1000px;
  border-left: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  box-sizing: border-box;
  margin: 0 0 10px;
}

.offday-tit {
  font-size: 16px;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
  background: #1781bb;
}

.offday-date-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.offday-box {
  width: 8.3333333333%;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  box-sizing: border-box;
}

.offday-mon {
  color: #fff;
  padding: 5px;
  background: #219fe4;
}

.offday-date {
  padding: 5px;
  word-break: break-word;
}

.nav-tit {
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.nav-tit span {
  font-size: 18px;
  display: block;
}

.real-people-area {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 10px;
  border: 1px solid #aaa;
  background: #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.real-people-area .tit {
  width: 100%;
  text-align: center;
}

.real-people-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.real-people-box i {
  font-size: 28px;
  margin: 0 5px 0 0;
}
.real-people-box .txt {
  font-size: 38px;
  font-weight: bold;
}

.real-people01 {
  color: #5d9671;
  border: 1px solid #b3d1c1;
  background: #c4dccc;
}

.real-people02 {
  color: #c7ac21;
  border: 1px solid #ebe777;
  background: #fff5a0;
}

.real-people03 {
  color: #b92b2b;
  border: 1px solid #d79494;
  background: #ffb9b9;
}

.newsletter-area {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.newsletter-cont {
  width: calc(100% - 150px);
}
.newsletter-cont .news-box {
  padding: 0 0 10px;
  margin: 0 0 10px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.newsletter-cont .sort-box {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
}
.newsletter-cont .sort-box i {
  font-size: 26px;
}
.newsletter-cont .news-opera {
  margin: 0 0 10px;
  cursor: pointer;
  transition: 0.2s;
  display: block;
}
.newsletter-cont .news-opera:last-child {
  margin: 0;
}
.newsletter-cont .news-opera:hover {
  color: #1781bb;
}
.newsletter-cont .input-box-w {
  margin: 0 5% 5px 0;
}
.newsletter-cont .set-area {
  width: 93.5%;
  padding: 0 5px;
  background: #f1f1f1;
  border: 1px dashed #ccc;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.newsletter-cont .set-area .input-box {
  width: 48%;
  margin: 0 0 5px 0;
}
.newsletter-cont .set-area.half {
  margin: -15px 0 0;
}

.newsletter-fun {
  width: 130px;
  position: sticky;
  top: 10px;
}
.newsletter-fun .btn-submit {
  color: #fff;
  margin: 0 0 5px;
  text-align: center;
  padding: 10px 5px;
  cursor: pointer;
}

.newsletter-demo-box {
  width: 740px;
}

.demo-iframe {
  overflow: scroll;
  background: #fff url(../img/backend_img/main_bg.png);
}

.news-art-area {
  position: relative;
  border-bottom: 1px dashed #ddd;
}
.news-art-area:last-child {
  border-bottom: none;
}

.news-art-cont {
  width: 93.5%;
  display: block;
  padding: 15px 0;
}

.news-art-tit {
  font-size: 20px;
  margin: 0 0 15px;
  text-align: center;
  color: #50423E;
  display: block;
}
.news-art-tit:last-child {
  margin: 0;
}

.news-art-img {
  margin: 0 0 5px;
}
.news-art-img img {
  width: 100%;
}

.news-art-des {
  color: #50423E;
}

.check-input-txt {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.check-input-txt i {
  top: 10px;
}
.check-input-txt label.error {
  padding: 8px;
  position: absolute;
  top: 4px;
  right: -55px;
}

.article-area .no-data {
  padding: 10px 0;
  text-align: center;
}

.breadcrumb + .sub-menu {
  margin: 0;
}

.star-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.star-box img {
  width: 10px;
  margin-right: 3px;
}

.qrcode-img {
  width: 80%;
  margin: 0 auto;
}
.qrcode-img img {
  width: 100%;
}

.mail-effect-area {
  width: 650px;
}

.mail-effect-box {
  color: #fff;
  width: 175px;
  padding: 10px;
  margin: 0 0 5px;
  border: 3px solid rgba(23, 129, 187, 0.5);
  border-radius: 5px;
  background: rgba(23, 129, 187, 0.8);
  display: inline-block;
  vertical-align: middle;
}
.mail-effect-box .icon {
  font-size: 28px;
  width: 35px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.mail-effect-box .info {
  display: inline-block;
  vertical-align: middle;
}
.mail-effect-box .info .tit {
  font-size: 18px;
  margin: 0 0 5px;
}
.mail-effect-box .info .cont .total {
  font-size: 20px;
}
.mail-effect-box .info .cont span {
  color: #fff;
}

.file-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: none;
}
.file-loading span {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  animation: bookLoad 1s infinite alternate ease-in-out;
}

@keyframes bookLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
